<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <div class="pull-left">
              <h3 class="box-title">รายการปริ้นเตอร์สำนักงานกรุงเทพ</h3>
            </div>
            <div class="pull-right">
              <button type="x" class="btn btn-primary" data-toggle="modal" data-target="#newPrint" id="s1">NEW PRINTER</button>
            </div>

          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="tablePrint" class="display" width="100%">
              <thead>
                <tr>
                  <th>BRAND</th>
                  <th>MODEL</th>
                  <th>SERIAL</th>
                  <th>WARRANTY</th>
                  <th>USER</th>
                  <th>OPERATE</th>
                </tr>
              </thead>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<div class="modal fade" id="newPrint" tabindex="0" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="printForm" (ngSubmit)="onSubmit()">
        <div id="com-data">
          <div class="modal-body">
            <div class="form-group">
              <label for="poffice">สำนักงาน</label>
              <input type="text" id="poffice" formControlName="poffice" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label for="printbrand">BRAND</label>
                <input type="text" id="printbrand" formControlName="printbrand" class="form-control">
              </div>
            <div class="form-group">
              <label for="printmodel">MODEL</label>
              <input type="text" id="printmodel" formControlName="printmodel" class="form-control">
            </div>
            <div class="form-group">
              <label for="printserial">SERIAL</label>
              <input type="text" id="printserial" formControlName="printserial" class="form-control">
            </div>
            <div class="form-group">
              <label for="printwarranty">WARRANTY</label>
              <input type="text" id="printwarranty" formControlName="printwarranty" class="form-control">
            </div>
            <div class="form-group">
              <label for="printuser">USER</label>
              <select id='printuser' formControlName="printuser" class="form-control">
                <option value=" 0 ">...</option>
                <option *ngFor="let item of dataUser">{{item.user_name}}</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
